In [1]:
%matplotlib inline

import matplotlib
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
import json

In [4]:
with open('newjson.json', 'r') as f:
    rjd = json.load(f)

In [5]:
ajd = rjd['RECORDS']

In [21]:
djd = pd.read_json(json.dumps(ajd), orient='records')

In [25]:
df = pd.DataFrame(data=djd[[0,1,4,6,12]])

In [27]:
df['totImps']=df['totInksPerTab']*df['qtyPerTab']

In [35]:
df['idx']=djd['tabID']

In [39]:
del df['gini']

In [43]:
del df['runtime']

In [37]:
df.set_index('idx', inplace=True, verify_integrity=True)

In [41]:
df['runtime']=djd['runTime']

In [44]:
df

        dopasPerTab  maxInksPerTab  qtyPerTab  totInksPerTab  totImps
idx
68646             2              2         20              4       80
73435             2              4         93              5      465
74340             2              3         37              5      185
74498             2              2        100              4      400
74529             2              4         50              5      250
74708             1              1         50              1       50
74755             2              1        100              2      200
74787             1              1          6              1        6
74858             2              2        100              3      300
75013             1              2         59              2      118
75116             1              2         45              2       90
75135             2              1         50              2      100
75147             2              4        105              8      840
75168             2              1         10              2       20
75173             2              2         24              3       72
75225             1              2          7              2       14
75226             2              1          7              2       14
75234             1              1          6              1        6
75246             1              2         36              2       72
75259             1              2         12              2       24
75274             1              1          7              1        7
75275             2              2         25              4      100
75283             1              1          3              1        3
75286             2              2         53              3      159
75288             2              1         10              2       20
75290             2              4         35              6      210
75291             2              1         12              2       24
75292             2              4         22              6      132
75297             1              5         10              5       50
75311             1              1          3              1        3
...             ...            ...        ...            ...      ...
125307            2              1         18              2       36
125321            1              1          8              1        8
125333            2              1         25              2       50
125337            1              1         40              1       40
125342            2              2         19              4       76
125350            2              1          4              2        8
125367            2              1         30              2       60
125368            1              1          5              1        5
125371            2              2         43              3      129
125383            1              2         30              2       60
125391            1              1          7              1        7
125415            1              1         20              1       20
125421            1              1          4              1        4
125432            1              1          7              1        7
125435            1              2         29              2       58
125439            1              1          3              1        3
125442            2              2         13              3       39
125469            2              2        250              4     1000
125486            1              1          2              1        2
125517            2              1         28              2       56
125518            1              1         30              1       30
125521            1              1          5              1        5
125522            2              1          7              2       14
125543            2              1         11              2       22
125546            1              2         50              2      100
125551            1              1         11              1       11
125560            2              1         10              2       20
125567            1              1          7              1        7
125662            1              2         15              2       30
125731            2              2         43              3      129

[6718 rows x 5 columns]